@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

.gold-premium {
  background: linear-gradient(180deg,
      #e0ad5b 0%,
      #c98d3d 100%);
}

.gold-premium:hover {
  background: linear-gradient(180deg,
      #e7b96c 0%,
      #d49847 100%);
}